{
    "presets": [[
      "@babel/env",
      {
        "targets": {
          "esmodules": true,
          "node": "16.15.0"
        }
      }
    ]
  ],
    "plugins": ["@babel/plugin-syntax-import-assertions","wildcard"]
  }